<h1>Employee List</h1>

<%= form_tag employee_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :location%>
    <%= submit_tag "Filter by Location", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
 
  <% @employee.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.location %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'HOME', controller: 'welcome' %>